<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../font-awesome/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../auth/style.css" />

    

    <title>Maderia</title>
  </head>
  <body>
    <main>
      <section class="">
        <div class="error">
          <h1>Oops!</h1>
          <h2>something is wrong</h2>
          <p>
            {{message}}
          </p>

          <div class="u-centering">
            <button class="btn btn-blue" href="../client/index" onclick="history.back();">back to main</button>
        </div>
        </div>
        
      </section>
    </main>
  </body>
</html>
