<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="font-awesome/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
     <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="style.css" />
    <script defer type="module" src="./script/app.js"></script>
    <title>Maderia</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="nav">
          <a href="#" class="nav__logo">maderia.com</a>
          <div class="nav-links">
             <a class='nav-link btn btn-less' href='/client/nearbyHotels'>Nearby hotels</a>
            <a class="nav-link btn btn-main" href="/auth/signup">
              Register</a
            >
            <a class="nav-link btn btn-main" href="/auth/signin">
              Sign in</a
            >
          </div>
        </nav>

         <div class="hero__text">
          <h1 class="heading-primary">Find your next stay</h1>
          <p class="hero__text-p">
            "Welcome to Your Dream Getaway: Book Your Ideal Stay Today! Browse
            our hand-picked selection of premium hotels and resorts, with
            unbeatable deals on every booking. Book now and unlock the door to
            your ultimate vacation experience!"
          </p>
        </div>
        <div class="hero__text-links">
          <a class="nav-link btn btn-main" href="./pages/registration.html">
            Register</a
          >
          <a class="nav-link btn btn-main" href="./pages/registration.html">
            Learn more &darr;</a
          >
        </div>
      </div>
    </header>

     <main>
      <section class="section-feature">
        <h2 class="heading-secondary">Features</h2>
        <div class="cards grid grid-3-col">
          <div class="card card-home">
            <i class="fa-regular fa-hotel"></i>
            <h3>Near by hotels</h3>
            <p>
              we render hotels based on your locations. we aid you by providing
              a map to navigate beetwen hotels.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-solid fa-bed"></i>
            <h3>Real-time Availability and Pricing</h3>
            <p>
              offers real-time availability and pricing information so that guests can easily check the availability of rooms and prices at any time.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-regular fa-bed-empty"></i>
            <h3>Reservation Management</h3>
            <p>
             hotels can manage reservations effectively, including modifying, cancelling, and tracking reservations.
            </p>
          </div>

           <div class="card card-home">
            <i class="fa-solid fa-hotel"></i>
            <h3>Customizable Room Types</h3>
            <p>
              A hotel reservation system should offer real-time availability and pricing information so that guests can easily check the availability of rooms and prices at any time.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-light fa-bed"></i>
            <h3>Reservation Management</h3>
            <p>
              hotels can manage reservations effectively, including modifying, cancelling, and tracking reservations.
            </p>
          </div>

         
          <div class="card card-home">
            <i class="fa-light fa-bed"></i>
            <h3>Near by hotels</h3>
            <p>
              we render hotels based on your locations. we aid you by providing
              a map to navigate beetwen hotels.
            </p>
          </div>
        </div>
      </section>

      <section class="section-hotels">
        <h2 class="heading-secondary">Features</h2>
        <div class="cards grid grid-3-col">
          <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>


           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>


           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>


           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
