<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../font-awesome/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/client/style.css" />

    <script defer src="../script/hotelDetails.js"></script>

    <title>Maderia</title>
  </head>
  <body>
    <header class="header-sign-in">
      <div class="container">
        <nav class="nav">
          <a href="#" class="nav__logo">maderia.com</a>
          <div class="nav-links">
            <a class="nav-link" href="#">
              <i class="fa-light fa-globe nav-icon"></i> English</a
            >
            <a class="nav-link btn btn-less" href="#"> Packages</a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section class="hotelDetail hotelManagement" data-id="{{ hotelId }}">
        <h1 class="heading-secondary">Hotel Room Types</h1>
        <div class="grid grid-2-col-lg-sm">
          <div class="cards grid grid-3-col">
            <div class="card" data-id="">
              <h2 class="heading-secondary u-centering">VIP</h2>
              <table>
                <tr>
                  <td>Room type</td>
                  <td>vip</td>
                </tr>

                <tr>
                  <td>Lifetime</td>
                  <td>180"</td>
                </tr>

                <tr>
                  <td>Price</td>
                  <td>$233</td>
                </tr>
              </table>
              <div class="decription">
                <h2>Description</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                  non nesciunt obcaecati itaque earum in corporis quo. Cumque
                  voluptates optio illum
                </p>
              </div>
              <div class="u-centering">
                <button class="btn btn-blue">Reserve</button>
              </div>
            </div>
          </div>

          <div class="hotel-review">
            <h2 class="heading-tertiary">Reviews</h2>
            <div class="cards cards-review">

              <div class="card card-review">
                <div class="rating-box">
                  <p>Rating</p>

                  <div class="rating">
                    <p>4.6</p>
                    <div>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star-half-stroke"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
                </div>
                <blockquote>
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi voluptatum, omnis officiis laudantium vero laborum
                  beatae doloribus. Et asperiores incidunt nihil voluptatum.
                  Doloremque voluptatem dolorem dicta similique, vero blanditiis
                  dignissimos."
                </blockquote>
                <p>Jonas J.</p>
              </div>

              <div class="card card-review">
                <div class="rating-box">
                  <p>Rating</p>

                  <div class="rating">
                    <p>4.6</p>
                    <div>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star-half-stroke"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
                </div>
                <blockquote>
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi voluptatum, omnis officiis laudantium vero laborum
                  beatae doloribus. Et asperiores incidunt nihil voluptatum.
                  Doloremque voluptatem dolorem dicta similique, vero blanditiis
                  dignissimos."
                </blockquote>
                <p>Jonas J.</p>
              </div>
            </div>
                        <div class="form-box">
              <h2 class="heading-tertiary">Add Review</h2>

              <form
                method="post"
                action="http://localhost:3000/review"
                class="form"
              >
                <input
                  class="input-id"
                  id="roomtype"
                  type="text"
                  name="id"
                  required
                />
                <label for="Description" class="form-label">Review</label>

                <textarea
                  class="form-textarea form-input--password"
                  id="Description"
                  type="text"
                  name="text"
                  required
                >
                </textarea>

                <label for="numberofRooms" class="form-label">Rate</label>
                <input
                  class="form-input form-input--password"
                  id="numberofRooms"
                  type="number"
                  name="rating"
                  min="0"
                  max="5"
                  required
                />

                <button class="btn btn-blue btn-register">Add Review</button>
              </form>
            </div>
          </div>

        </div>
      </section>
    </main>
        <footer class="section-footer">
        <div class="footer-col">
          <div class="nav-logo">
            <a href="#" class="nav__logo">maderia.com</a>
          </div>
          <div class="footer-social-media">
            <a href="https://www.facebook.com/natty">
              <i class="fa-brands fa-facebook"></i> <span>facebook</span>
            </a>
            <a href="https://www.facebook.com/messager/natty">
              <i class="fa-brands fa-facebook-messenger"></i
              ><span>messager</span>
            </a>
            <a href="https://www.twitter.com/natty">
              <i class="fa-brands fa-twitter"></i> <span>twitter</span>
            </a>
            <a href="https://www.linkdin.com/natty"
              ><i class="fa-brands fa-linkedin"></i><span>linkdin</span></a
            >
          </div>
          <p class="footer-copyright">
            Copyright &copy; 2022 by , maderia.com Inc. All rightsreserved.
          </p>
        </div>
        <nav class="footer-col">
          <h3 class="footer-heading">contact us</h3>
          <address class="footer-address">
            King George VI Av. /AR_06_1002 Av. , Addis Ababa University ,4 kilo
            campas.
          </address>
          <a href="tel:+251920123302" class="footer-nav-link"
            >+251-920-123-302</a
          >
          <a href="mailto:natnaell70a@gmail.com" class="footer-nav-link">
            maderia70a@gmail.com</a
          >
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading">Overview</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Home</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#feature">Features</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#hotels">Hotels</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/client/nearbyHotels"
                >Nearby Hotel</a
              >
            </li>
          </ul>
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading" >Account</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/auth/signup"> Register</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/auth/signin">Sign in</a>
            </li>
          </ul>
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading">Support</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#"
                >Contact Us</a
              >
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">About Us</a>
            </li>
          </ul>
        </nav>
      </footer>
  </body>
</html>
