<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../font-awesome/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script defer type="module" src="/auth/script/appSignIn.js"></script>
    <title>Maderia</title>
  </head>
  <body>
    <header class="header-sign-in">
      <div class="container">
        <nav class="nav">
          <a href="/" class="nav__logo">maderia.com</a>
          <div class="nav-links">
            <a class="nav-link" href="#">
              <i class="fa-light fa-globe nav-icon"></i> English</a
            >
            <a class="nav-link btn btn-less" href="#"> Packages</a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section class="section-sign-in grid-2-col">
        <div class="sign-in">
          <h1 class="heading-secondary">Sign in</h1>
          <div class="toggle-box">
            <span class="toggle-box-in">
              <button class="toggle toggle--user toggle--active">
                As a user</button
              ><button class="toggle toggle--hotel">As a hotel</button>
            </span>
          </div>
          <form action="/auth/userSignIn" method="post" class="form">
            <label for="email" class="form-label">Email</label>
            <input
              class="form-input form-signin-email"
              id="email"
              type="email"
              name="email"
              required
            />
            <p class="form-Validation form-Validation-email">&nbsp;</p>
            <label for="password" class="form-label">Password</label>
            <input
              class="form-input form-signin-password"
              id="password"
              type="password"
              name="password"
              required
            />
            <p class="form-Validation form-Validation-password">&nbsp;</p>
            <button type="submit" class="btn btn-blue btn-signIn">Sign in</button>
          </form>
        </div>
        <!-- <img class="sign-in-image" src="../img/img-4.jpg" alt="hotel" /> -->
      </section>
    </main>
  </body>
</html>