<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>login as a user</h2>
    <form action="/auth/usersignin" method="post">
    <input type="text" name="email" id="email" placeholder="your email">
    <input type="password" name="password" id="password", placeholder="your password">
    <input type="submit" value="submit">
    </form>

    <h2>login as a hotel</h2>
    <form action="/auth/hotelsignin" method="post">
    <input type="text" name="email" id="email" placeholder="your email">
    <input type="password" name="password" id="password", placeholder="your password">
    <input type="submit" value="submit">
    </form>
</body>
</html>